

body{
    display:flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 250px;
    min-height: 300px;
    background-color: rgb(83, 229, 83);
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px dashed black;
}
.item{
    padding: 15px;
    margin: 10px;
    background-color:rgb(197, 188, 59);
    color: white;
    font-weight: bold;
    border: 4px;
    cursor: grab;

}
.item.dragging{
    opacity: 0.5;
}